img {
  margin: auto;
  text-align: center;
  height: 30%;
  width: 30%;
}

pre {
  font-family: monospace;
  background-color: #FFEDEC;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

h3 {
  text-align: left
}