.pic {
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 2%;
  display: block;
  margin: auto;
}
}

img:nth-child(2){
  width: 30%;
  height: 30%;
}

ul {
  list-style: square;
  margin-left: 10%;
  margin-right: 10%;
}