table {
  padding: none;
  text-align: center;
  margin: auto;
  border-collapse: collapse;

}

td {
  border: dotted 1px #88A6B2;
  padding: 0.5em;
}

tr > td:first-child {
  font-weight: bold;
}

th {
  border: dotted 1px #88A6B2;
  font-size: 1.2em;
}

ul {
  border: 0;
  padding: 0;
}

pre {
  display: table-cell;
  width: 50px;
  border: 2em white solid;
  border-radius: 15%;
}


.float {
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 35%;
  border-radius: 5%;
  clear: bottom;
}

.fix {
  margin-left: 20%;
  margin-right: 20%;
  clear: right;
}

.food {
  width: 15%;
  padding: 2em;
  border-radius: 30%;
}

.foodpic {
  margin: auto;
  text-align: center;
}