.resize {
  height: 8em;
  width: 24em;
}

.center {
  text-align: center;
  padding: 2%;
  display: block;
  margin: auto;

}

.bloglogo {
  text-align: center;
  padding: 2%;
  display: block;
  margin: auto;
}

.move {
  margin: auto
}

ul {
  list-style-type: none;
  padding-bottom: 5%;
}

.posts a:link, .posts a:visited {
  color: #88A6B2;
  text-decoration: none;
}

i {
  color: #88A6B2;
}

td li {
  margin-bottom: 10%;
}

.image {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

pre {
  font-family: monospace;
  background-color: #FFEDEC;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}