.bio {
  text-align: center;
  color: #88A6B2;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  width: 10%;
  height: 10%;
  border: 0.15em solid #61777F;
  size: cover;
}

section {
  padding: 5%;
}

h2 {
  text-align: center;
}

h2 p {
  margin-top: 0;
}

.pad {
  padding-bottom: 5%;
}