.projects a:link, .projects a:visited {
  color: #88A6B2;
  text-decoration: none;
}

.center {
  margin-bottom: 0;
  padding-bottom: 0;
}

div ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-bottom: 3%;
}

.button {
  font-size: 1.3em;
  border: 3px dotted #88A6B2;
  display: inline-block;
  width: 7em;
  height: 5em;
  border-radius: 30%;
  margin: 1.5%;
  line-height: 5em;
}

.projects {
  text-align: center;
  padding-bottom: 2.5%;
}

.button a:hover {
  font-weight: normal;
  display: inline-block;
  width: 7em;
  height: 5em;
  border-radius: 30%;
  background-color: #88A6B2;
  color: white;
}