.resume a:link, .resume a:visited {
  color: #88A6B2;
  text-decoration: none;
}

/*.edbutton a:click {
  background-color: #88A6B2;
  color: white;
}*/

.center {
  margin-bottom: 0;
  padding-bottom: 0;
}

.resume {
  text-align: center;
}

.details {
  padding: 2.5%;
}

.edbutton {
  font-size: 1.3em;
  border: 3px dotted #88A6B2;
  display: inline-block;
  width: 5em;
  border-radius: 30%;
  margin: 1.5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.workbutton {
  font-size: 1.3em;
  border: 3px dotted #88A6B2;
  display: inline-block;
  width: 5em;
  border-radius: 30%;
  margin: 1.5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.leadbutton {
  font-size: 1.3em;
  border: 3px dotted #88A6B2;
  display: inline-block;
  width: 5em;
  border-radius: 30%;
  margin: 1.5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.volbutton {
  font-size: 1.3em;
  border: 3px dotted #88A6B2;
  display: inline-block;
  width: 5em;
  border-radius: 30%;
  margin: 1.5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.ed {
  padding: 2%;
  position: relative;
  border: 2px solid #FFDAE0;
  width: 50%;
  margin: auto;
}

.work {
  padding: 2%;
  position: relative;
  border: 2px solid #FFDAE0;
  width: 50%;
  margin: auto;
}

.lead {
  padding: 2%;
  position: relative;
  border: 2px solid #FFDAE0;
  width: 50%;
  margin: auto;
}

.vol {
  padding: 2%;
  position: relative;
  border: 2px solid #FFDAE0;
  width: 50%;
  margin: auto;
}

span {
  font-size: 1.2em;
}

